:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
}

.board-cards-panel-item {
  margin: 8px;
}

:host {
  display: flex;
  flex: 1;
}
