<app-header (changeEmitter)="toggleSideNav()"></app-header>

<app-main-wrapper>
  <router-outlet></router-outlet>
</app-main-wrapper>

<app-footer></app-footer>

<!-- <app-main-content>
  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="isSideNavOpen">
      <app-sidebar>
        <button (click)="toggleSideNav()" mat-raised-button>
          Toggle sidebar
        </button>
        <p>Sidebar</p>

      </app-sidebar>

    </mat-drawer>
  </mat-drawer-container>
  <div class="max-w-2xl container mx-auto mt-[50px]">
    <router-outlet></router-outlet>
  </div>
</app-main-content> -->