.header {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.header > .main-menu > .mat-icon {
  vertical-align: middle;
}

.header > .main-menu > .title {
  display: inline;
  vertical-align: middle;
  margin: 0 1rem;
}
