.workspace-wrapper {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  min-height: calc(100vh - 112px);
  box-sizing: border-box;
  flex-direction: column;
}

@media (min-width: 600px) {
  .workspace-wrapper {
    min-height: calc(100vh - 128px);
  }
}
