:host {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  min-height: calc(100vh - 112px);
  box-sizing: border-box;
  flex-direction: column;
}

@media (min-width: 600px) {
  :host {
    min-height: calc(100vh - 128px);
  }
}
