<mat-card>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(data.item.id ? OperationTypes.update : OperationTypes.create)">
    <mat-card-header class="card-block">
      <mat-card-title>{{ modalTitle }}</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="modalDescription" class="card-block">
      <p>{{ modalDescription }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-content class="card-block fields-container">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput cdkFocusInitial formControlName="title" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions class="card-block">
      <button mat-button type="submit" [disabled]="!profileForm.valid"
        aria-label="data.item.id ? 'Save changes' : 'Create'">
        {{ data.item.id ? "Save changes" : "Create" }}
      </button>
      <button mat-button aria-label="Cancel" type="button" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>