:host {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1;
  box-shadow: 2px 0 2px #b6b6b6;
  min-height: calc(100vh - 112px);
}

@media (min-width: 600px) {
  :host {
    min-height: calc(100vh - 128px);
  }
}

.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.sidebar__title {
  margin: auto 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.info-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 auto;
  margin: 0 0.5rem 0.5rem;
  height: 100%;
}

.info-panel__title > span,
.info-panel__description > span {
  font-weight: bold;
}
