<mat-toolbar class="board-controls-panel">
  <button mat-icon-button color="primary" (click)="openListModal.emit()" aria-label="Create list">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="handleSidebarState.emit()" aria-label="Create list">
    <mat-icon>info</mat-icon>
  </button>
  <div class="text-content">
    <p class="board-controls-panel__text" *ngIf="title">Current board: <span class="board-controls-panel__text_bold">{{
        title }}</span></p>
    <p class="board-controls-panel__text" *ngIf="listsAmount !== null">Cards amount: <span
        class="board-controls-panel__text_bold">{{ listsAmount }}</span></p>
  </div>
</mat-toolbar>